<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.org.samhipwell.agora" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ProjectList"
            android:label="@string/title_activity_project_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.samhipwell.agora.MainActivity" />
        </activity>
        <activity
            android:name=".CreateRepo"
            android:label="@string/title_activity_create_repo"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.samhipwell.agora.MainActivity" />
        </activity>

        <service
            android:name=".addRepo_Service"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".RepoList_Service"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".NewNoteActivity"
            android:label="@string/title_activity_new_note" >
        </activity>
        <activity
            android:name=".StarScreen"
            android:label="@string/title_activity_star_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".loginScrenn"
            android:label="@string/title_activity_login_screnn"
            android:parentActivityName=".StarScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.samhipwell.agora.StarScreen" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.samhipwell.agora.loginScrenn" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".SyncActiity"
            android:label="@string/title_activity_sync_actiity" >
        </activity>
    </application>

</manifest>
